@charset "ISO-8859-1";
h1 {
    font-size: 42px;
}

h2 {
    font-size: 38px;
}

label {
    width: 200px;
    font-size: 30px;
    text-align: left;
    display: inline-block;
}

.hidden-label {
    width: 300px;
    visibility: hidden;
    color: red;
    text-align: center;
}

body {
    background-color: #a3c737;
    font-family: "Garamond", serif;
    font-weight: bolder;
    font-size: 32px;
    text-align: center;
}

button {
    display: inline-block;
    width: 37%;
    border: thick;
    background-color: black;
    padding: 14px 28px;
    margin-bottom: 14px;
    width: 450px;
    font-size: 26px;
    font-family: "Garamond", serif;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    color: white;
}

button:hover {
    background-color: rgb(60, 105, 38);
}

input[type=text],
input[type=password] {
    background-color: white;
    color: black;
    font-family: "Garamond", serif;
    width: 250px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid black;
    box-sizing: border-box;
}

input[type=text]:hover {
    background-color: rgb(60, 105, 38);
}

input[type=password]:hover {
    background-color: rgb(60, 105, 38);
}

table {
    border: 5px solid black;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    font-family: "Garamond", serif;
    font-size: 20px;
    font-weight: bold;
    /* padding: 10px; */
}

tr,
td,
th {
    border: 1px solid black;
    border-radius: 5px;
}

.hidden-section {
    visibility: hidden;
    width: 500px;
    display: inline-block;
    border-style: solid;
}