<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator Page</title>
    <link rel="stylesheet" href="assets/styles/user-market.css">
    <script type="module" src="assets/scripts/admin.js"></script>
</head>
<header>
    <h1>Administrator Page</h1>
    <h2>Modify products and accounts</h2>
</header>

<section id="admin-views">
    <button id="view-products-button">View Products</button>
    <br>
    <button id="view-accounts-button">View Accounts</button>
</section>
<section id="back-to-main">
    <button id="back-to-main-button">Back to main</button>
</section>

<body>

</body>

</html>