<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="assets/styles/user-market.css">
    <script type="module" src="assets/scripts/userProfile.js"></script>
</head>

<body>
    <header>
        <h1>User Profile</h1>
        <!-- here an element should be added -->
    </header>
    <section id="user-details-section">
        <label>First Name</label>
        <label id="first-name-label"></label>
        <br>
        <label>Last Name</label>
        <label id="last-name-label"></label>
        <br>
        <label>Date of Birth</label>
        <label id="birth-date-label"></label>
        <br>
        <label>Email</label>
        <label id="email-label"></label>
        <br>
        <label>Phone</label>
        <label id="phone-label"></label>
        <br>
        <label>Address</label>
        <label id="address-label"></label>
        <br>
        <label>Credit Card</label>
        <label id="credit-card-label"></label>
        <br>
    </section>
    <br>
    <section id="edit-profile-section">
        <button>Edit Profile</button>
    </section>
    <section id="back-to-main">
        <button id="back-to-main-button">Back to main</button>
    </section>
</body>

</html>